body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg,
            #ff7f50,
            /* Coral */
            #ff1493,
            /* Deep Pink */
            #8a2be2,
            /* Blue Violet */
            #00ff7f,
            /* Spring Green */
            #ff6347,
            /* Tomato */
            #00bfff,
            /* Deep Sky Blue */
            #ffd700,
            /* Gold */
            #ff4500
            /* Orange Red */
        );
    background-size: 400% 400%;
    /* Make the gradient cover a larger area */
    animation: gradientAnimation 10s ease infinite;
    /* Animation for the gradient effect */
    margin: 0;
    height: 100vh;
}

#quiz-container {
    text-align: center;
    margin: 50px auto;
    width: 50%;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    border-top: 5px solid red;
    border-right: 5px solid blue;
    border-bottom: 5px solid green;
    border-left: 5px solid yellow;
}

#question-container {
    margin-bottom: 20px;
}

#next-button {
    margin-top: 20px;
}

#leaderboard-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 40%;
    margin: 0 30% 0 30%;
}

#leaderboard li {
    margin: 5px 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}